.git
.gitignore
.env*
.dockerignore
Dockerfile
docker-compose.yml

__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
pip-log.txt
errors.log

env/
venv/
.venv/

.idea/
.vscode/
*.swp
*.swo

tests/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

README.md
CONTRIBUTING.md
docs/
.claude*
.github
.cursorrules

.DS_Store
**/.DS_Store
Thumbs.db